# Node
node_modules/
dist/
build/
.env
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.envrc

# VSCode
.vscode/

# Docker
*.pid
*.db
*.sqlite
*.sock

# OS
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo
*.bak
*.tmp
